# Shared
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=appdb
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=dev_super_secret_change_me
BCRYPT_COST=12

# API Gateway
API_NODE_PORT=3001
AUTH_SERVICE_URL=http://auth-service:8081
PROFILE_SERVICE_URL=http://profile-service:8082
POST_SERVICE_URL=http://post-service:8083

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_WS_URL=ws://localhost:8083/ws
NEXT_PORT=3000
